
-------------------------------------------------
About:            ${HOSTNAME}${NC}
Logged in as:     ${USER}${NC}
-------------------------------------------------
Active Sessions:  ${SESSIONS}${NC}
Operating System: ${RELEASE}${NC}
FQDN:             ${HOSTNAME}.${DOMAIN}${NC}
IP:               ${IP}${NC}
Memory:           ${MEM}${NC}
Processers:       ${CPU}${NC}
SELinux:          ${SELINUX}${NC}
-------------------------------------------------
